.wrapper {
    max-width: 400px;
    margin: 0% auto;
}
.transform{
    display: block;
    width: 200px;
    height: 200px;
    color: #fff;
    background-color: black;
    margin-bottom: 200px;
    transition: all 0.8s ease 0s;
}
.transform-text{
    text-align: center;
}
.transform-translate:hover{
    display: inline-block;
    transform: translate(50px,50px);
}
.transform-scale:hover{
    display: inline-block;
    transform: scale(0.5);
}
.transform-rotate:hover{
    display: inline-block;
    transform: rotate(45deg);
}
.transform-skew:hover{
    display: inline-block;
    transform: skew(20deg,20deg);
}
.transform-origin{
    transform-origin: right bottom;
}
.transform-origin:hover{
    display: inline-block;
    transform: rotate(45deg);
}
.transform-translate3d:hover{
    display: block;
    transform: translate3d(30px,30px,100px) rotate3d(1,1,1,45deg) scale3d(1,1,2);
}