body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    max-width: 300px;
    margin: 0 auto;
    padding-top: 200px;

}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    
}
form button{
    grid-column: 2 / 3;
}